# Testing
pytest>=3.8
tox>=2.4.1
coverage>=4.2
pytest-cov>=2.4.0
pytest-rerunfailures>=4.1

# Linting
flake8>=3.0.4
flake8-docstrings>=1.0.2
isort>=4.2.5
flake8-isort>=2.0.1

# Documentation
Sphinx>=1.4.8
