# Documentation
pygments[plugins]
nbsphinx
Pillow>=9.2.0
sphinx>=1.8.6
sphinx-rtd-theme>=0.4.3
sphinxcontrib-serializinghtml>=1.1.5
sphinxcontrib-websupport>=1.2.4
urllib3>=1.26.9
readthedocs-sphinx-ext>=2.1.8
jinja2>=3.0.3
docutils>=0.17.1
ipykernel>=5.5.6
ipyparallel>=8.2.1
ipython>=7.16.3
ipython-genutils>=0.2.0
jedi>=0.17.2
MarkupSafe>=2.0.1
future>=0.18.3
alabaster>=0.7.12
commonmark>=0.8.0
